/* elements to exclude except on mobile */

.small-mobile-only {
	display:none;
}

.bg-alt-cover {
	display:none;
}

/* responsive adjustments */

 @media screen and (max-width:68em) {
 	.ew-logo {
 		width:100%;
 		padding:0;
 		height:125px;
 		margin-left:0;
 		margin-top:2em;
 	}
 	.description-wrap {
		display:block;
		width:50%;
		float:left; 
		position:relative;
		top:-200px;		
 	}
 	#home .description, #refer .description, #refer .social-links {
 		width:250px;
 		text-align: left;
 	}
 	#home .form-wrap, #refer .referral-count {
 		float:right;
 		width:49%;
 		position:relative;
 		margin-bottom:50px;
 		margin-left:0;
 	}
 	#refer .social-links .sep {
 		display:none;
 	}
 	#refer .referral-count, #refer .chair-photos {
 		margin-bottom:25px;
 	}
 	#refer .chair-photos {
 		text-align: center;
 		position:relative;
 		top:-150px;
 	}
 }

@media screen and (max-width:40em) {
 	
 	.bg-alt-cover {
 		display:block;
 		position:absolute;
 		top:0;
 		left:0;
 		width:100%;
 	}
	.hero {
		margin-top:180px;
		background:transparent !important;
	}
	#refer .hero h2 {
		color:black !important;
		position:relative;
		top:255px;
	}
	.ew-logo {
		position:relative;
	}
	#home .ew-logo {
		top:-920px;
	}
	#refer .ew-logo {
		top:-885px;
	}
	#home .description-wrap {
		width:100%;
		float:none;
		top:-700px;
	}
	#refer .description-wrap {
		width:100%;
		margin:0 auto;
		top:-600px;
	}
	#refer .description, #refer .social-links {
		text-align:center;
		width:100%;
	}
	#refer .desc-left {
		text-align:left !important;
		padding-left:1em;
		padding-right:1em;
	}
	#refer .social-links .sep {
 		display:inline-block;
 	}
 	#home .form-wrap, #refer .referral-count, #refer .chair-photos {
 		float:none;
 		width:100%;
 	}
	#home .form-wrap {
		top:-350px;
	}
	#refer .referral-count {
		top:-225px;
	}
	#refer .chair-photos {
		top:-350px;
	}
	#refer .chair-photos img {
		display:block;
		width:90%;
		margin:20px auto;
	}
}
